<div class="outer-container">
  <div class="grid-container">
    <div class="left-column">


        @for (user of users; track user.id;) {
          <div class="user-card" (click)="selectUser(user)" [ngClass]="{'selected' : user.id === selectedUser?.id}">
            @if (user.id <= 6) {
              <img [src]="'/images/pfp' + user.id + '.jpg'" style="height: 40px; width: 40px; border-radius: 12px;">
            } @else {
              <img src="/images/defaultProfilePicture.webp" style="height: 40px; width: 40px; border-radius: 12px;" >
            }

            <div class="user-info">
              <h4>{{user.name}}</h4>
            </div>
          </div>
        }

    </div>
    <div class="right-column">
      <p>Right Column</p>
    </div>
  </div>
</div>




