
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  /*color: #ffa500;*/
  color: #d3b39d;
}

p {
  color: #d5b49e;
}



.user-card {
  background-color: #2b1d1d; /* Darker background for cards */
  border-radius: 10px;
  padding: 14px;
  width: 260px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-card:hover {
  background-color: #3b2d2d;
  cursor: pointer;
}

.user-card img {
  margin-right: 10px; /* Adds spacing between the image and text */
}

.user-info p {
  font-size: 1.1rem;
}

/* Responsive Design for Smaller Screens */
@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 5%;
  }
}

@media screen and (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
    padding: 40px 2%;
  }
}

.outer-container {
  width: 72.4%; /* Center 50% of the screen */
  margin: 0 auto; /* Centers the container horizontally */
}

.grid-container {
  background: #463b3b;
  display: flex;
}

.left-column {
  width: 35%;
  padding: 1rem;
}

.right-column {
  width: 65%;
  padding: 1rem;
}

.selected {
  background-color: #d5b49e; /* Light blue background */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transform: scale(1.02); /* Slightly enlarge the card */
  transition: all 0.2s ease; /* Smooth transition for the styling */
}

.selected h4 {
  color: #2b1d1d;
}

.selected:hover {
  cursor: pointer;
  background: #d5b49e;
}


